/* Importar la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --White: #ffffff;
    --Black: #000;
    --Goldenrod: #FFFF00;
    --Midnight-Blue: #052A5D;
    --Slate-Gray: #BFBFBF;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: var(--Midnight-Blue) !important;
}

.header {
    background-color: transparent !important;
    z-index: 3;
}

.container_header {
    padding-top: 15px;
}

.container_menu {
    padding-top: 8px;
    padding-bottom: 8px;
    background: var(--Midnight-Blue);
    border-radius: 10px;
    border: 3px var(--Slate-Gray) solid;
    gap: 16px;
    margin: 0 auto;
}


.container_menu .iten_menu {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: center;
    gap: 10px;
    display: flex;
    background: var(--Midnight-Blue);
    border-radius: 8px;
    border: 1px var(--Midnight-Blue);
    color: var(--Slate-Gray);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    word-wrap: break-word;
}

.container_menu .dk:hover {
    background: var(--Black);
    color: var(--White);
    border-radius: 8px;
    border: 1px var(--Black) solid;
}

.container_bus_lon {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.container_buscador {
    display: flex;
    height: 60px;
    padding-top: 15px;
}

.container_buscador span {
    background-color: var(--Midnight-Blue);
    color: var(--White);
    border-radius: 8px;
    border: 3px var(--Slate-Gray) solid;
}

.container_buscador input {
    background-color: var(--White);
    color: var(--Black);
    border-radius: 8px;
    border: 3px var(--Slate-Gray) solid;
}

.container_buscador input:focus {
    background-color: var(--White);
    color: var(--Black);
    box-shadow: none;
    border-radius: 8px;
    border: 1px var(--Slate-Gray) solid;
}

.container_buscador span {
    cursor: pointer;
}

.container_buscador span:hover {
    background-color: var(--Black);
}

.login-container {
    padding-top: 13px;
}

.login-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: var(--Midnight-Blue);
    border-radius: 8px;
    border: 1px var(--White) solid;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex;
    color: var(--Slate-Gray);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    word-wrap: break-word;
}

.login-button:hover {
    background: var(--Black);
    color: var(--White);
}

.container-inicio {
    position: relative;
    top: -130px;
    width: 100%;
}

.container-inicio .container-inicio-one {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.container-inicio .container-inicio-one .image-container {
    align-self: stretch;
    height: 200px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
}

.container-inicio .container-inicio-one .image-container img {
    width: 20px;
    height: 200px;
    flex: 1 1 0;
    align-self: stretch;
    border-radius: 12px;
}

.container-inicio .container-inicio-one .gradient-overlay {
    width: 100%;
    height: 643px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0) 100%);
}

.container-inicio .container-inicio-one .gradient-background {
    width: 100%;
    height: 643px;
    left: 0px;
    top: -17px;
    position: absolute;
    background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, #141414 100%);
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-container .form-container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 0.8);
    /* Fondo con transparencia */
}

.center-container .mt-3 {
    text-align: center;
    /* Centrar el texto dentro del párrafo */
}

.center-container .btn-primary {
    display: block;
    margin: 0 auto;
    /* Centrar el botón horizontalmente */
}

.center-container .btn-secundario {
    display: block;
    margin: 0 auto;
    /* Centrar el botón horizontalmente */
    background-color: #ff6600;
    /* Cambia el color del botón aquí */
    color: #fff;
}

.container-inicio .container-inicio-one .container-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-inicio .container-c1 {
    width: 100%;
    height: 1%;
    height: 1%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin-bottom: -70px;
    margin-bottom: -70px;
}

.container-inicio .container-c1 .content-c1 {
    position: relative;
    top: -85px;
    position: relative;
    top: -85px;
    width: 100%;
}

.container-inicio .container-c1 .content-c1 .con-tex {
    width: 100%;
    height: 11.3vh;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
}

.container-inicio .container-c1 .content-c1 .con-des {
    width: 100%;
    height: auto;
    display: flex;
    padding: 10px;
}

.container-inicio .container-c1 .boton {
    background-color: var(--Goldenrod);
    color: var(--Black);
    border-radius: 10px;
    border: 1px var(--Black) solid;
    margin-top: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-inicio .container-c2 {
    width: 100%;
}

.container-inicio .container-c2 .content-c1 {
    margin: 30px;
}

.container-inicio .container-c2 .content-c1 .parrafo {
    padding-top: 10px;
}

.container-inicio .container-c2 .content-c2 {
    width: 100%;
    padding: 30px;
}

.container-inicio .container-c2 .content-c2 .propa {
    gap: -20px;
}

.container-inicio .container-c2 .content-c2 .categorias {
    flex: 1 1 0;
    padding: 10px;
    background: var(--Black);
    border-radius: 10px;
    border: 1px #262626 solid;
    flex-direction: column;
    display: inline-flex;
}

.container-inicio .container-c2 .content-c2 .categorias .d1 {
    align-self: stretch;
    height: 210px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    display: flex;
}

.container-inicio .container-c2 .content-c2 .categorias .d1 .container-image {
    align-self: center;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.container-inicio .container-c2 .content-c2 .categorias .d1 .container-image .image {
    width: 102px;
    height: 93px;
}

.container-inicio .container-c2 .content-c2 .categorias .d2 {
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

.container-inicio .container-c2 .content-c2 .categorias .d2 .titulo {
    flex: 1 1 0;
    color: var(--White);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    word-wrap: break-word;
}

.container-inicio .container-c2 .content-c2 .categorias .d2 .icon {
    width: 24px;
    height: 24px;
    padding-left: 4.50px;
    padding-right: 4.50px;
    padding-top: 5.25px;
    padding-bottom: 5.25px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-inicio .container-c3 .content-c1 {
    margin: 30px;
}

.container-inicio .container-c3 .content-c1 .parrafo {
    padding-top: 10px;
}

.container-inicio .container-c3 .content-c2 {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
    padding-left: 30px;
    padding-right: 30px;
}

.container-inicio .container-c3 .content-c2 .dispositivos {
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
}

.container-inicio .container-c3 .content-c2 .dispositivos .targeta {
    flex: 1 1 0;
    padding: 40px;
    background: linear-gradient(0deg, #0F0F0F 0%, #0F0F0F 100%), linear-gradient(221deg, rgba(255, 255, 0, 0.50) 0%, rgba(183.20, 229, 0, 0) 81%);
    border-radius: 10px;
    border: 1px solid #262626;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
}

.container-inicio .container-c3 .content-c2 .dispositivos .targeta .parte1 {
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    display: inline-flex;
}

.container-inicio .container-c3 .content-c2 .dispositivos .targeta .parte1 .container-icon {
    padding: 12px;
    background: var(--Midnight-Blue);
    border-radius: 10px;
    border: 1px solid #1F1F1F;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
}

.container-inicio .container-c3 .content-c2 .dispositivos .targeta .parte1 .container-icon .icono {
    width: 30px;
    height: 30px;
    padding-top: 1.20px;
    padding-bottom: 1.80px;
    padding-left: 7.80px;
    padding-right: 7.47px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-inicio .container-c3 .content-c2 .dispositivos .targeta .titulo {
    flex: 1 1 0;
    color: var(--White);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    word-wrap: break-word;
}

.container-inicio .container-c3 .content-c2 .dispositivos .targeta .parrafo {
    align-self: stretch;
    color: var(--White);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.container-inicio .container-c4 {
    margin: 30px;
}

.container-inicio .container-c4 .content-c1 .parrafo {
    padding-top: 10px;
}

.container-inicio .container-c4 .content-c2 {
    padding-top: 40px;
}


.container-inicio .container-c4 .content-c2 .boton {
    background-color: var(--Goldenrod);
    color: var(--Black);
    border-radius: 10px;
    border: 1px var(--Black) solid;
    padding: 10px;
    justify-content: end;
    display: flex;
    align-items: end;
}






@media screen and (max-width: 800px) {
    .container-inicio .container-c1 .content-c1 .con-des .description {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 700px) {
    .container-inicio .container-c1 .content-c1 .con-tex .titulo {
        font-size: 1.6rem !important;
    }
}

@media screen and (max-width: 500px) {
    .container-inicio .container-c1 .content-c1 .con-des .description {
        font-size: 0.7rem;
    }

}

.container-c5 {
    display: flex;
    flex-wrap: wrap;
}


.faq-column {
    flex: 1;
    padding: 20px;
}

.faq-item {
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 2px solid yellow;
    padding-bottom: 10px;
    position: relative;

}

.faq-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

.question {
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: left;
    cursor: pointer;
}

.toggle-btn {
    background-color: transparent;
    border: none;

    font-size: 20px;
    color: #ffffff;
    margin-left: auto;
}

.answer {
    font-size: 10px;
    display: none;
    margin-left: 50px;
    color: white;
    border-radius: 5px;
}

.toggle-checkbox {
    display: none;
}

.toggle-checkbox:checked+.question+.answer {
    display: block;
}

.number-box {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 35px;
    /* Ajustar la altura del texto al contenedor */
    border-radius: 5px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .faq-column {
        flex: none;
        width: 100%;
    }
}

.container-inicio .container-c6 {
    margin: 30px;
}

.btn-group .btn {
    color: white;
}

.btn-group .btn-check:checked+.btn {
    color: var(--White);
    /* Texto en negro */
    background-color: var(--Black);
    /* Fondo blanco */
}

.btn-group.nd .btn {
    border-color: transparent;
    /* Establecer el borde como transparente */
    border-radius: 10px;
    margin-right: 10px;
}

.container-c6-boton {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    border: 3px solid black;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: end;
    border-radius: 10px;
    margin-left: auto;
    width: max-content;
}

.btn-group.nd input[type="radio"].btn-check:checked+label {
    border-color: var(--Black)
}

.ItemsContainer {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
    margin-top: 25px;
}

.Card {
    flex: 1 1 0;
    padding: 40px;
    background: black;
    border-radius: 10px;
    border: 1px white solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    display: inline-flex;
    margin-bottom: 20px;
}

.TextContainer {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    display: flex;
}

.Heading {
    color: white;
    font-size: 20px;
    font-family: 'Manrope';
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word;
}

.Paragraph {
    color: #999999;
    font-size: 16px;
    font-family: 'Manrope';
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    text-align: left;
}

.Number {
    color: white;
    font-size: 30px;
    font-family: 'Manrope';
    font-weight: 600;
    line-height: 21.90px;
    word-wrap: break-word;

}

.Text {
    color: #999999;
    font-size: 16px;
    font-weight: 500;
    line-height: 11.68px;
    word-wrap: break-word;
    text-align: left;
}

.ButtonsContainer {
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: inline-flex;
    cursor: pointer;
}

.Button {
    flex: 1 1 0;
    height: 70px;
    padding: 14px 20px;
    background: #052A5D;
    border-radius: 6px;
    border: 1px white solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    color: white;
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 600;
    line-height: 21px;
    word-wrap: break-word;
}

.Button-plan {
    flex: 1 1 0;
    height: 70px;
    padding: 14px 20px;
    background: var(--Goldenrod);
    border-radius: 6px;
    border: 1px white solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    color: var(--Black);
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 600;
    line-height: 21px;
    word-wrap: break-word;
    z-index: 21;
}

.container-c7 {
    margin: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.image-collage {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
    margin-left: -10px;
    margin-right: -150px;
}

.image-collage img {
    width: 108px;
    height: 80px;
    align-self: stretch;
    border-radius: 12px;
    transform: translateY(-300px);
    transform: translateY(-300px);
    z-index: 0;
    margin: 0;
}

.image-collage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0.834), rgba(0, 153, 255, 0.5), rgba(0, 153, 255, 0.5), rgba(255, 255, 0, 0.5));
    z-index: 1;
}

.TextLayer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
    margin-left: 30px;
    text-align: left;
    word-wrap: break-word;
    margin-top: 10%;
}


.TextLayer .Heading {
    font-size: 24px;
    font-weight: bold;
    z-index: 2;
}

.TextLayer .Paragraph {
    font-size: 16px;
    z-index: 2;
}

.ButtonLayer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
    margin-right: 30px;
    margin-top: 10%;
}

.footer {
    margin: 30px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.containerxt {
    margin: 30px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 16.5%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 500;
}

.footer-links li a {
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links li a:hover {
    color: #ffffff;
    padding-left: 6px;
}

.social-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(6, 5, 5, 0.991);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #ffffff;
    transition: all .5s ease;
}

.social-links a:hover {
    background-color: #00C3FF;
}

@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}

.footer .linea {
    margin-top: 80px;
    border-top: 2px solid white;
}

.footer .bor {
    border-right: 2px solid white;
}

.footer .linea .mar {
    margin-top: 20px;
}

/* ///////////////////////LOGIN/////////////////////////////*/
.container-login {
    margin-left: 30px;
    margin-right: 30px;

}

.containerc1-login {
    width: 100%;
}

.TextLayer-login {
    color: white;
    justify-content: left;
    text-align: left;
    margin-top: 10%;
}

.TextLayer-login2 {
    color: white;
    justify-content: center;
    text-align: center;

}

.TextLayer-login .Heading-login {
    font-size: 24px;
    font-weight: bold;
}

.TextLayer-login .Heading-login2 {
    font-size: 24px;
    font-weight: bold;
}

.TextLayer-login .Paragraph-login {
    font-size: 16px;
}

.container-imagecollage-login {
    margin-top: 20px;
    width: 100%;
    height: 330px;
    border: 5px solid black;
    position: relative;
    overflow: hidden;
}

.image-collage-login {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
    margin-left: -10px;
    margin-right: -150px;
}

.image-collage-login img {
    width: 108px;
    height: 80px;
    align-self: stretch;
    border-radius: 12px;
}

.container-login-der {
    border: 2px solid black;
    border-radius: 8px;
    padding: 30px;
    margin: 50px auto;
}

.login-title {
    text-align: center;
    /* Título centrado */
    color: white;
    margin-bottom: 30px;
}

.container-left,
.container-right {
    flex: 1;
    margin-right: 30px;
}

.login-title {
    text-align: center;
    /* Título centrado */
}

.form-group {
    margin-bottom: 20px;
    /* Espaciado entre grupos */
}

.form-label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--White);
}

.custom-select {
    width: 15%;
    float: left;
    margin-right: 5%;
    background-color: transparent;
    border: 2px solid black;
    text-align: center;
    color: white;
    padding: 5px;
}

.custom-select#pais option {
    width: 14%;
    background-color: var(--Midnight-Blue);
    border: 2px solid black;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--Black);
    border-radius: 4px;
    background-color: transparent;
    color: var(--White);
}

.recuperar-contraseña-login {
    color: var(--White);
    cursor: pointer;
}

.Button-login {
    padding: 14px 20px;
    background: var(--Goldenrod);
    border-radius: 6px;
    border: 1px white solid;
    color: var(--Black);
    font-weight: 600;
    line-height: 21px;
    margin-right: 30px;
}

.login-Paragraph {
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--White);
}

.contenedor-redsocial {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.contenedor-redsocial img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contenedor-redsocial span {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.Button-register {
    margin-top: 10px;
    padding: 14px 20px;
    background: var(--Goldenrod);
    border-radius: 6px;
    border: 1px white solid;
    color: var(--Black);
    font-weight: 600;
    line-height: 21px;
    word-wrap: break-word;
    margin-right: 30px;
}

.container-imagecollage-register {
    margin-top: 20px;
    width: 100%;
    height: 520px;
    border: 5px solid black;
    position: relative;
    overflow: hidden;
}

.image-collage-register {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
    margin-left: -10px;
    margin-right: -150px;
}

.image-collage-register img {
    width: 108px;
    height: 80px;
    align-self: stretch;
    border-radius: 12px;
}
.perfil {
    width: 100%;
}
.perfil .container-c1 {
    padding: 15px;
}
.perfil .container-c1 .parte-1 {
    color: var(--White);
}
.perfil .container-c1 .parte-1 .mensaje{
    margin-top: 10px;
    padding: 10px;
    background: var(--Goldenrod);
    border-radius: 6px;
    border: 1px white solid;
    color: var(--Black);
    font-weight: 600;
    line-height: 21px;
    word-wrap: break-word;
}
.perfil .container-c1 .parte-1-1 {
    color: var(--White);
    margin-top: 15px;
}
.perfil .container-c1 .parte-1-1 small{
    cursor: pointer;
}
.perfil .container-c1 .parte-2 {
    background-color: var(--Black);
}
.perfil .container-c1 .parte-2 .editar{
cursor: pointer;
}
.perfil .container-c1 .parte-2 h6{
    color: var(--White);
}
.perfil .container-c1 .parte-2 h6 span i{
    margin-right: 10px;
}

.perfil .container-c1 .parte-2 .list-group {
    background-color: transparent;
}

.perfil .container-c1 .parte-2 .list-group-item {
    background-color: transparent;
}
.perfil .container-c1 .parte-3 .t1{
    color: var(--Slate-Gray);
}
.perfil .container-c1 .parte-3 .r1{
    color: var(--White);
}
.perfil .container-c1 .parte-4 h1{
    color: var(--White);
}
.perfil .container-c1 .parte-4 h1 i{
    color: var(--Goldenrod);
}
.perfil .container-c1 .parte-4 h6{
    color: var(--White);
}
.perfil .container-c1 .parte-5 .curso{
    color: var(--White);
    background-color: var(--Midnight-Blue);
    border-radius: 5px;
    margin: 15px;
    border: 2px solid black;
}
.perfil .container-c1 .parte-5 .curso img{
    border: 2px solid black;
}

.perfil .container-c1 .parte-5 .card-header{
    color: var(--White);
    font-size: 30px;
    font: bold;
}
.perfil .container-c1 .parte-5 .curso img{
    margin-top: 5px;
    border-radius: 5px;
}
.perfil .container-c1 .parte-5 .curso a{
    margin-bottom: 5px;
}
.perfil .container-c1 .parte-5 .curso .estado {
    margin-left: 10%;
}
.perfil .container-c1 .parte-5 .curso .card-title {
    margin-top: 2%;
}
.perfil .container-c1 .parte-5 .curbtn {
    margin-top: 10px;
    padding: 10px;
    background: var(--Goldenrod);
    border-radius: 6px;
    border: 1px white solid;
    color: var(--Black);
    font-weight: 600;
    line-height: 21px;
    word-wrap: break-word;
}



.perfil .container-c1 .parte-3 .editar{
    margin-top: 10px;
    padding: 10px;
    background: var(--Goldenrod);
    border-radius: 6px;
    border: 1px white solid;
    color: var(--Black);
    font-weight: 600;
    line-height: 21px;
    word-wrap: break-word;
}
.perfil .container-c1 .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--Midnight-Blue);
    background-clip: border-box;
    border: 2px solid black;
    border-radius: .25rem;
}

.perfil .container-c1 .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

